
        
        html, body{
            height: 100%;
            width: 60%;
        }
        .btf{
            padding-top: 10px;
            
        }
        .searchbutton{
            padding: 5px;
            border-radius: 10%;
        }
        *{
            padding: 0px;
            margin: 0px;
        }
        
        body {
            background-color: #6666c9;
            display: grid;
            place-items: center;
            
        }
        
        .card {
            background-color: #ffffff;
            border-radius: 30px;
            color: #6f707d;
            font-family: 'Marcellus', serif;
            padding: 2em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        
        #heading{
            font-size: 55px;    
            color: #2b304d;
        }
        
        .temp{
            place-items: center;
        }
        
        .temp-details > p >span, .grey{
            color: #a3acc1;
            font-size: 12px;
        }
        
        .fa{
            color: #a5a5b1
        }
        
         *:focus{
            outline: none;
        }